@import "./../../../Shared.scss";

.schedule {
  background-color: $white;
  border-radius: 2px;
  box-shadow: $box-shadow;
  height: 37vh;
  width: 70%;
  margin-left: 2rem;
}

.schedule-header {
  @include header-container;
  border-bottom: 1px solid $border-dark;

  h1 {
    margin-right: 0.5rem;
    @include header;
  }
  p {
    color: $text-light;
    font-size: 0.8rem;
  }
}

.schedule-item {
  border-top: 0.5px solid $border-dark;
  font-size: 0.8rem;
  display: flex;
  align-items: center;

  justify-content: space-between;
  padding: 0.56rem 1rem;

  .schedule-item-info {
    display: flex;

    .schedule-item-time {
      font-weight: 600;
      padding-right: 1rem;
    }
    div {
      .shedule-items-details {
        border-left: solid 3px $primary;
      }
      p {
        padding-left: 1rem;
      }
    }
  }
}

.shedule-details-purple {
  color: $secondary;
  font-weight: 600;
}

.schedule-items-icons {
  color: $secondary;
  font-size: 1rem;

  .schedule-item-logo {
    cursor: pointer;
  }

  .schedule-item-pencil {
    margin-right: 1rem;
  }
}
