@import "./../../../Shared.scss";

.schedule {
  background-color: $white;
  border-radius: 2px;
  box-shadow: $box-shadow;
  height: 100%;
  width: 70%;
}

.schedule-header {
  @include header-container;
  border-bottom: 1px solid $border-dark;

  h1 {
    margin-right: 0.5rem;
    @include header;
  }
  p {
    color: $text-light;
    font-size: $small-text;
  }
}

.schedule-item {
  border-top: 0.5px solid $border-dark;
  font-size: $small-text;
  display: flex;

  justify-content: space-between;
  padding: 0.56rem 1rem;

  .schedule-item-info {
    display: flex;

    .schedule-item-time {
      font-weight: 600;
      padding-right: 1rem;
      white-space: nowrap;
    }
    div {
      .shedule-items-details {
        border-left: solid 3px $primary;
        padding-left: 1rem;
      }
      p {
        padding-left: calc(1rem + 3px);
      }
    }
  }
}

.shedule-details-purple {
  color: $secondary;
  font-weight: 600;
}

.schedule-items-icons {
  color: $secondary;
  font-size: 1rem;

  .schedule-item-logo {
    cursor: pointer;
  }

  .schedule-item-pencil {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 1100px) {
  .schedule {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .schedule-item {
    flex-direction: column;
  }

  .schedule-items-icons {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
  }
}

@media only screen and (min-width: 700px) {
  .schedule-item {
    align-items: center;
  }
}
