@import "./../../../Shared.scss";

.fileTable-container {
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  min-width: 600px;
}

.fileTable-item-container {
  border-top: 0.5px solid $border-dark;
  cursor: pointer;
  font-size: $small-text;
  font-size: clamp(0.6rem, 0.8vw, 0.8vw);
  display: flex;
  align-items: center;
  color: $text;
  padding: 0.5rem 1rem;

  td {
    padding-left: 3%;
  }

  .fileTable-file-name {
    overflow-wrap: break-word;
    width: 19%;
  }
  .fileTable-file-type {
    width: 12%;
  }
  .fileTable-create-date {
    width: 18%;
  }
  .fileTable-published-status {
    width: 12.5%;
  }
  .fileTable-session-name {
    width: 18%;
  }
  .fileTable-session-code {
    width: 8.5%;
  }
  .fileTable-session-status {
    width: 8.5%;
  }
}

.fileTable-header-container {
  border-top: none;
  border-bottom: 1.5px solid $secondary;
  color: $secondary;
  font-weight: 700;
  text-transform: uppercase;
}

.fileTable-checkbox {
  padding: 0 !important;
  input[type="checkbox"] {
    width: 3.5%;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    margin: 0;
    font: inherit;
    color: $secondary;
    font-weight: 600;
    width: 1rem;
    width: clamp(0.75rem, 1vw, 1vw);
    height: clamp(0.75rem, 1vw, 1vw);
    border: 1px solid currentColor;
    border-radius: 2px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  input[type="checkbox"]::before {
    content: "";
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: $box-shadow;
  }

  input[type="checkbox"]:checked::before {
    content: "✔";
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 650px) {
  .fileTable {
    overflow-x: scroll;
  }
}
