// Colors
//================================================
$background-color: #eaeaea;
$white: white;
$primary: #e66465;
$secondary: purple;
$border-light: #dfdfdf;
$border-dark: #0000001a;
$text: #000000d9;
$text-light: #00000099;
$icons-light: #0000004d;

//Other
//================================================
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$small-text: clamp(0.8rem, 0.8vw, 0.8vw);

//================================================
// Mixin
//================================================
@mixin flex-align {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin header-container {
  color: $text;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

@mixin header {
  color: $text;
  font-size: clamp(1rem, 1.5vw, 1.5vw);
  font-weight: 400;
}
