@import "./../Shared.scss";

.nav-container {
  background: linear-gradient($primary, $secondary);
  box-shadow: $box-shadow;
  color: $white;
  @include flex-column;
  justify-content: space-between;
  font-size: 1.15rem;
  height: 100%;
  width: 4.5rem;
  z-index: 1;
  position: fixed;
}

.nav-main-top {
  @include flex-column;

  img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
      brightness(102%) contrast(102%);
    margin-top: 1.25rem;
    width: 25%;
  }

  .top-icons {
    color: $border-light;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1.25rem;
  }
  .border {
    border-top: 1px solid $border-light;
    margin-top: 1.25rem;
    width: 100%;
  }
  .nav-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-block: 0.625rem;
    width: 100%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.nav-bottom {
  cursor: pointer;
  @include flex-column;
  justify-content: center;
  margin-bottom: 0.25rem;
  width: 100%;
  .border {
    border-top: 1px solid $border-light;
    margin-bottom: 0.25rem;
    width: 100%;
  }
}

@media only screen and (max-width: 1100px) {
  .nav-container {
    transform: translateX(0px);
    transition: all 0.5s ease-in-out;
  }
  .nav-main-top {
    img,
    .border,
    .top-icons {
      display: none;
    }
    .nav-icon {
      font-size: 1.5rem;

      &:hover {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
  .unactive-side-nav {
    transform: translateX(-5rem);
    transition: all 0.5s ease-in-out;
  }
  .active-side-nav {
    height: 100%;
    transform: translateX(0);
  }
  .nav-icon-home {
    margin-top: 3.5rem;
  }
}
